.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .anticon {
    color: white;
    &:hover {
      color: white;
    }
  }

  .ant-avatar {
    background-color: #183059;

    &:hover {
      -webkit-transition: background-color ease-out 0.3s;
      -o-transition: background-color ease-out 0.3s;
      transition: background-color ease-out 0.3s;
      background-color: white;
      .anticon {
        color: #183059;
      }
    }
  }
}
