.vehicle-card {
  max-width: 400px;
  height: auto;

  .ant-card-hoverable {
    &:hover {
      border-color: #183059;
    }
  }

  h3 {
    font-weight: bold;
    @media (max-width: 576px) {
      font-size: small;
    }
  }

  p {
    @media (max-width: 576px) {
      font-size: small;
    }
  }
}
