.admin {
  display: flex;
  margin: 10px 10px;
  flex-direction: column;
  align-items: flex-start;
  min-height: 90vh;

  &__top-bar {
    margin-bottom: 10px;
  }

  &__table {
    min-height: 600px;
  }
}
