.slider {
  height: 500px;
  .ant-carousel .slick-slide {
    text-align: center;
    line-height: 160px;
    background: white;
    overflow: hidden;
    height: 500px !important;

    img {
      width: auto;
      height: 500px;
    }
  }

  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
}
