.slider {
  .ant-carousel .slick-slide {
    text-align: center;
    height: 450px;
    line-height: 160px;
    background: white;
    overflow: hidden;

    img {
      width: 100%;
      max-width: 2000px;
      height: auto;
      min-height: 450;
    }
  }

  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
}
